.link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.3em;
  outline: none;
  padding: 0 1%;
  text-decoration: none;
  letter-spacing: 1px;
}

.link:hover {
  cursor: pointer;
}

.linklogin {
  color: white;
  display: flex;
  font-size: 1.3em;
  outline: none;
  padding: 0 1%;
  text-decoration: none;
}

.linklogin:hover {
  cursor: pointer;
}
