<!--<nav class="navbar navbar-expand-lg navbar-light bg-dark">-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #753F61;">
  <a class="logo" href="#">Gymnerd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div routerLink="/index" class="link">Index</div>
      </li>
      <li class="nav-item">
        <div routerLink="/gymnasts" class="link">Gymnasts</div>
      </li>
      <li class="nav-item">
        <div routerLink="/teams" class="link">Teams</div>
      </li>
      <li class="nav-item">
        <div routerLink="/news" class="link">News</div>
      </li>
      <li class="nav-item">
        <div routerLink="/faq" class="link">FAQ</div>
      </li>
    </ul>
    <span class="navbar-text">
      <div routerLink="/login" class="linklogin"><button type="button" class="btn btn-outline-secondary">Sign in</button></div>
    </span>
    <span class="navbar-text">
      <div routerLink="/signin" class="linksignin"><button type="button" class="btn btn-outline-secondary">Login</button></div>
    </span>
  </div>
</nav>
