.signinform {
  width: 30%;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: 10%;
}

.signin {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.boutonlogin {
  background-color: #482a3c;
  border-color: #482a3c;
  color: #dea8c8;
}
