<div class="flexgymnast">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img/ponor.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Catalina Ponor</h5>
      <p class="card-text">Roumanie 🇷🇴 </p>
      <div class="row justify-content-center"><a href="#" class="btn btn-primary boutoninfo">Infos</a></div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/oleg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Oleg Vernaiev</h5>
      <p class="card-text">Ukraine 🇺🇦</p>
      <div class="row justify-content-center"><a href="#" class="btn btn-primary boutoninfo">Infos</a></div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/images.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alexandra Raisman</h5>
      <p class="card-text">USA 🇺🇸</p>
      <div class="row justify-content-center"><a href="#" class="btn btn-primary boutoninfo">Infos</a></div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/7079d8b458a74680b8ec59f53708a993.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nikita Nagorny</h5>
      <p class="card-text">Russie 🇷🇺</p>
      <div class="row justify-content-center"><a href="#" class="btn btn-primary boutoninfo">Infos</a></div>
    </div>
  </div>
</div>
