.container-fluid {
  background-image: url("~src/assets/img/ban.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  flex-direction: row;
  gap: 80px;
}

.item {
  background-color: #a25d83;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.8;
  text-align: center;
}

.boxtest {
  text-align: center;
  letter-spacing: 2px;
}
